.nav-area
  margin: 32px var(--gap-margin) 0

.nav-qr 
  display: flex
  justify-content: space-between
  flex-wrap wrap
  align-items: center
  margin: 0 var(--gap-margin) 0
  .qrcode
    width 100%
    display: block
    margin: 0 0 12px
  .qrcode-item
    width 49%
    .qrcode-text 
      margin-bottom 12px
      text-align center
      font-size 12px
      color #fff