<div id="global-popup-mask" style="display:none;">
  <div id="global-popup" role="dialog" aria-modal="true">
    <div class="popup-header">
      <strong>内容都优先更新公众号和小程序<br/>该站一周内同步，且只保留实用内容<br/>独有公众号无法发布的内容（资源）<br/><span style="color: red;">如果喜欢，求帮忙分享</span></strong>
    </div>
    <div class="popup-qrcodes">
      <div class="popup-qrcode-item">
        <img src="/images/aiqrcode.jpg" alt="AI教程二维码" />
        <div class="popup-qrcode-desc">AI教程<br/>资讯工具<br/>聚焦AI</div>
      </div>
      <div class="popup-qrcode-item">
        <img src="/images/qrcode.jpg" alt="开源工具二维码" />
        <div class="popup-qrcode-desc">开源工具<br/>资源网站<br/>软件工具</div>
      </div>
      <div class="popup-qrcode-item">
        <img src="/images/xiaochengxu.jpg" alt="小程序二维码" />
        <div class="popup-qrcode-desc">AI导航<br/>工具导航<br/>实用工具</div>
      </div>
    </div>
    <div class="popup-footer">
      <button class="popup-close" tabindex="0" aria-label="关闭弹窗">关闭</button>
    </div>
  </div>
</div> 